div.title-box, div.single-comment, div.users-box {
  border: 1px solid #EDEDED;
  margin: 0.25em;
  padding: 0.25em;
  width: 50%;
  box-shadow: 1px 1px 2px 2px #EDEDED;
  border-radius: 3px;
  background: #BBB891;
}

div.nav-bar {
  text-align: right;
}


body {
  background: #C8C8C8;
}

button.button-format {
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.75em;
  margin-bottom: 1em;
}

button.left {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.input-format {
  margin: 0.5em;
}

.input-format input {
  width: 60%;
}

.input-format textarea {
  width: 60%;
  height: 120px;
}
