{{#link-to 'posts.new'}}
  <button class="button-format">Create post</button>
{{/link-to}}
{{#each post in model}}
  <div class="title-box">
    {{#link-to 'post' post}}
      <p>{{post.title}}</p>
    {{/link-to}}
      <p>Author: {{post.user.name}}</p>
  </div>
{{/each}}

{{outlet}}
